<footer class= "footer">
    <small>
        <strong><a href= "https://fredrick-indianrestaurant.herokuapp.com">Cloud Computing Training</a></strong>
        by <em><a href= "https://fredrick-indianrestaurant.herokuapp.com">Fredrick Ondieki</a></em>
    </small>
    <nav>
        <ul>
            <li>
                <%= link_to "About", "#" %>
            </li>
        </ul>
    </nav>
</footer>